* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
}


main {
  height: calc(100vh - 170px);
  background-color: black;
  overflow-y: auto;
}

footer{
  background-color: #222222;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
