
.w100{
  width: 100%;
}

.h70 {
  height: 70px;
}
.h100 {
  height: 100px;
}

main { 
  height: calc(100vh - 170px);
}
/* DEBUG */

.debug {
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black
}

/* /DEBUG */